h1{
    background-color: aqua;
    color: red;
    font-size: 40px;
}
p{
    background-color: blueviolet;
    color:yellow ;
    font-size: 20px;
}
.bhavi{
    color: red;
    background-color: aquamarine;
    font-size: 50px;
}
.bhavi1{
    color: blue;
    background-color: yellow;
    font-size: 25px;
}